
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures the background is behind all content */
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1; /* Ensures the content is in front of the background */
}

.navBar {
  background: linear-gradient(180deg, rgba(0, 115, 251, 1) 19%, rgba(255, 255, 255, 1) 74%);
  display: flex;
  justify-content: space-between; /* Space between brand and links */
  align-items: center; /* Center items vertically */
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-bottom: 0; /* Remove bottom margin */
}

.navBrand {
  font-weight: bold;
  font-size: 24px;
  color: #0073fb; /* You can adjust the color as needed */
}

.navLinks {
  display: flex;
  gap: 1rem; /* Space between nav items */
}

.navText {
  color: rgba(0, 0, 0, 0.7); /* Adjusted color */
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: bold; /* Bold text */
  text-decoration: none;
}

.productsContainer {
  background-color: rgba(255, 255, 255); /* White background */
  border-radius: 10px;
  padding: 20px;
  margin-top: -14pt; /* Remove top margin */
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #0073fb; /* Blue color for the heading */
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust the width of the items */
  gap: 20px; /* Space between items */
}

.productItem {
  background-color: rgba(240, 240, 240, 0.9); /* Very light gray background */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  height: 100%; /* Increase height */
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
  transition: transform 0.2s ease-in-out; /* Add transition for hover effect */
}

.productItem:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
  transform: scale(1.05); /* Slightly scale up the card on hover */
}

.productImage {
  width: 100%;
  max-height: 300px; /* Increase max height */
  border-radius: 10px;
  object-fit: contain; /* Ensure the image maintains its aspect ratio */
}

.productName {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #0073fb; /* Blue color for the product name */
}

.productDetails {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}
