/* productDetail.module.css */

.container {
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerBase {
    background-image: url("/tq_az7ku4h-wq-asb8-1500w.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f4f8;
    border-radius: 10px;
    margin-bottom: 0;
}

.title {
    font-size: 24px;
    color: #0073fb;
    margin: 0;
}

.navBar {
    background: linear-gradient(180deg, rgba(0, 115, 251, 1) 19%, rgba(255, 255, 255, 1) 74%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 103.2%;
    max-width: 1200px;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

.navBrand {
    font-weight: bold;
    font-size: 32px;
    color: #0073fb;
}

.navLinks {
    display: flex;
    gap: 1.5rem;
}

.navText {
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.heading {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #0073fb;
    margin-bottom: -1%;
    margin-top:-3.8%;
    width: 109.5%;
    background-color: #fff;
    padding: 20px 0;
    /* border-radius: 0px 0px 0 0; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.productDetail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 101.7%;
    max-width: 1200px;
    gap: 40px;
    background-color: #fff;
    padding: 40px;
    border-radius: 0 0 10px 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.productImage {
    flex: 0 1 50%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}

.productInfo {
    flex: 1 1 50%;
    text-align: left;
    max-width: 50%;
}

.productName {
    font-size: 24px;
    font-weight: bold;
    color: #0073fb;
    margin-bottom: 10px;
}

.description {
    background-color: rgba(240, 248, 255, 0.7);
    padding: 15px;
    border-radius: 10px;
}

.sectionTitle {
    font-size: 20px;
    font-weight: bold;
    color: #0073fb;
    margin-bottom: 10px;
}

.sizesAndWeight {
    display: flex;
    justify-content: space-between;
}

.sectionTab {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #0073fb;
    background-color: rgba(255, 255, 255);
    border-radius: 5px 5px 0 0;
    border: 2px solid #0073fb;
    transition: background-color 0.3s, border-color 0.3s;
}

.sectionTab:hover,
.activeTab {
    background-color: rgba(0, 115, 251, 0.1);
}

.sectionContent {
    background-color: rgba(240, 248, 255, 0.7);
    padding: 15px;
    border-radius: 0 0 10px 10px;
    border: 2px solid #0073fb;
}

.sizes,
.weight {
    flex: 1;
    margin-right: 10px;
}

.subTitle {
    font-size: 18px;
    font-weight: bold;
    color: #0073fb;
    margin-bottom: 5px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.list li:hover {
    background-color: rgba(0, 115, 251, 0.1);
}

.sizeItem {
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.sizeItem:hover {
    border-color: #0073fb;
}

.selectedSize {
    border-color: #0073fb;
    background-color: rgba(0, 115, 251, 0.1);
}

.actionButtons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.button,
.buttonCancel {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #0073fb;
    background-color: #fff;
    color: #0073fb;
    transition: background-color 0.3s ease;
    flex: 1 1 auto;
}

.buttonCancel {
    border-color: #e63946;
    color: #e63946;
}

.button:hover {
    background-color: #0073fb;
    color: #fff;
}

.buttonCancel:hover {
    background-color: #e63946;
    color: #fff;
}

.descriptionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shareButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.shareButton:hover {
    background-color: #0056b3;
}